/* CANNOT BE USED WITH CDN, STRICTLY FOR COPY/PASTE */
#formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 661px;
}

.online-order .w-embed.w-script {
	height: 650px;
}

.page {
    display: none;
    gap: 20px;
}

.page.active {
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
}

.formTitleSection {
    display: flex;
    flex-direction: column;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.formTitleSection .primaryLabel {
    display: flex;
    font-family: "Jost";
    font-weight: 700;
    font-size: 25px;
    gap: 20px;
    line-height: 36.13px;
}

.errorMessage {
    display: flex;
    color: #E94443;
    font-weight: 700;
    font-family: "Jost";
    gap: 10px;
}

.custom-select {
    position: relative;
    font-family: "Jost";
}

.formSelect {
    background: url(dropdown-arrow.svg) no-repeat 97% 50%; 
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: none !important;
}

.formSelect::-webkit-scrollbar {
    width: 10px;
}

.select-selected {
    color: #0A1C37;
    padding: 15px 25px;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: #F4FBFF;
    border-radius: 15px;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    /*border: 6px solid transparent;*/
    border-color: #818C94 transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #0A1C37 transparent;
    top: 7px;
}

.select-selected-arrow {
    display: inline-block;
    position: absolute;
    right: 4%;
    top: 42%;
    pointer-events: none;
}

.select-selected-arrow.select-arrow-active {
    rotate: 180deg;
}

.select-items div,.select-selected {
    cursor: pointer;
}

.select-items {
    position: absolute;
    color: #0A1C37;
    background-color: #F4FBFF;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 15px;
    height: 16em;
    overflow-y: auto;
}

.select-items-option {
    display: flex;
    flex-direction: row;
    gap: 7px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    padding: 7px 20px 10px 16px;
}

.select-items-option-info {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    justify-content: center;
    align-items: flex-start;
    border: 0 !important;
    padding: 0 0 0 8;
}

.optionName {
    pointer-events: none;
    font-size: 16px;
    margin: 0;
}

.optionAddress {
    pointer-events: none;
    font-size: 10px;
    color: #818C94;
    margin: 0;
}

.select-hide {
    display: none;
}

input[type="radio"] {
    pointer-events: none;
}

.errorMessage .errorMessageAsterisk {
    margin: 0px;
    font-size: 25px;
}

.errorMessage .errorMessageText {
    visibility: hidden;
    padding-top: 3%;
    margin: 0px;
    font-size: 18px;
}

.formTitleSection .secondaryLabel {
    font-family: "Jost";
    font-weight: 400;
    font-size: 18px;
    line-height: 26.01px;
}

.secondaryLabel a {
    color: #00AEEF;
    padding: 0px;
}

.page select {
    display: flex;
    font-family: "Jost";
    font-size: 18px;
    font-weight: 500;
    color: #818C94;
    background-color: #F4FBFF;
    width: 100%;
    height: 65px;
    border: 0px;
    border-radius: 15px;
    justify-self: space-between;
    padding: 20px 25px 20px 25px;
    gap: 10px;
}

.formRadioButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formRadioButtons .buttonLabelPair {
    display: flex;
    background-color: #F4FBFF;
    padding: 20px 25px 20px 25px;
    font-family: "Jost";
    font-weight: 500;
    font-size: 18px;
    border-radius: 15px;
    gap: 10px;
}

.buttonLabelPair label {
    pointer-events: none;
}

.fieldRequiredWarning {
    width: auto;
    font-size: 0.75em;
    font-weight: 300;
    border-radius: 3px;
    line-height: 1.5;
    background-color: #dc2626;
    color: #fff;
    padding: .4em .8em;
}

.formTextInput {
    display: flex;
    border: 0px;
    border-radius: 15px;
    font-family: "Jost";
    font-weight: 500;
    font-size: 18px;
    padding: 20px 25px 20px 25px;
    background-color: #F4FBFF;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
}

.formTextInput[type="date"] {
    -webkit-appearance: none;
}

.formInputLabel {
    color: #0A1C37;
    font-family: "Jost";
    font-size: 18px;
    font-weight: 400;
}

.formInputCancelButton {
    position: absolute;
    top: 33%;
    left: 93%;
}

.formInputCancelButton:hover {
    cursor: pointer;
}

.formInputList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formInputCancelButtonPair {
    position: relative;
}

.formFileInputBox {
    display: flex;
    flex-direction: column;
    border: 1px;
    border-radius: 15px;
    border-style: dashed;
    align-content: center;
    padding: 15px 25px 15px 25px;
    background-color: #F4FBFF;
}

.formFileInputBoxIcon {
    width: 3%;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 0px; 
}

.formFileInputBoxInfo {
    font-family: "Jost";
    font-weight: 400;
    font-size: 18px;
    color: #818C94;
    text-align: center;
    margin-top: 5px;
}

.formFileInputBoxUpload {
    text-align: center;
}

.formFileInputBoxUploadLabel {
    color: #0A1C37;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.formFileInputBoxUploadLabel:hover {
    cursor: pointer;
}

.formFileInputBoxUploadInput {
    display: none;
}

.formInputListAddBtn {
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0);
    border: 1px;
    border-style: dotted;
    border-radius: 15px;
    border-color: #0A1C37;
    height: 65px;
    gap: 5px;
}

.formInputListAddBtn:hover {
    cursor: pointer;
}

.formInputListAddBtnPlus {
    color: #8F99A1;
    font-size: 20px;
    height: 50%;
    text-align: center;
    margin-top: auto;
    margin-left: 15px;
    margin-bottom: auto;
}

.formInputListAddBtnText {
    color: #8F99A1;
    font-family: "Jost";
    font-size: 18px;
    font-weight: 500;
    height: 50%;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.contact_me_by_fax_only {
    position: absolute;
    left: -5000px;
}

.formPageFooter {
    display: flex;
    justify-content: space-between;
}

button.nextButton {
    display: flex;
    background-color: #00AEEF;
    color: #F4FBFF;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    border: 0px;
    border-radius: 48px;
    font-family: "Jost";
    height: 46px;
    width: 191px;
    align-items: center;
    justify-content: center;
}

button.prevButton {
    background-color: rgba(0,0,0,0);
    color: #00AEEF;
    height: 46px;
    width: 191px;
    border: 1px #00AEEF;
    border-style: solid;
    border-radius: 48px;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    font-family: "Jost";
}

button.submitButton {
    display: flex;
    background-color: #00AEEF;
    color: #F4FBFF;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    border: 0px;
    border-radius: 48px;
    font-family: "Jost";
    height: 46px;
    width: 191px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    .online-order .w-embed.w-script {
        width: 100%;
    }

    #formContainer {
        margin: 5%;
        width: 85%;
    }

    button.nextButton {
        width: 40%;
    }


    button.prevButton {
        width: 40%;
    }

    button.submitButton {
        width: 40%;
    }

    .select-items {
        height: 18em;
    }
}